@import url(../Login/Login.scss);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$NetflixSansLight: 'NetflixSansLight';
$NetflixSansMedium: 'NetflixSansMedium';
$NetflixSansBold: 'NetflixSansBold';
$BebasNeue: 'Bebas Neue';
$transparent-black: rgba(0,0,0,0.85);
$transparent-black-2: rgba(0,0,0,0.5);


.video-title 
{
    box-sizing: border-box;
    padding: 15rem 5rem;
    top: 0;
    width: 50%;
    position: absolute;
    background: linear-gradient(to right,#000000,$transparent-black-2,transparent);
    // aspect-ratio: 16/9;
    min-width: 390px;

    h1 
    {
        font-size: 5rem;
        font-family: $BebasNeue;
        letter-spacing: 3px;
    }
    p
    {
        font-family: $NetflixSansLight;
        line-height: 30px;
        font-size: 1.1rem;
    }
    button
    {
        padding:0.7rem 2rem;
        gap: 0.2rem;
        font-family: $NetflixSansMedium;
        font-size: 1rem;
        border:none;
        border-radius: 8px;
        cursor: pointer;
        width: 10rem;
        margin: 1rem 0;

        &:nth-child(odd) 
        {
            background-color: white;
            &:hover { background-color: rgb(211, 211, 211); }
        }
        &:nth-child(even) 
        {
            background-color: #383838;
            color:white;
            margin-left: 1rem;
            &:hover { background-color: #545454 }
        }
        i 
        {
            padding-right: 5px;
        }
    }
}
@media screen and (max-width: 1200px)
{
    .video-title
    {
        padding: 15rem 5rem;

        h1 
        {
            font-size: 4rem;
        }
        p 
        {
            font-size: 0.9rem;
        }
    }
}
@media screen and (max-width: 1000px)
{
    .video-title
    {
        width: 60%;
    }
}
@media screen and (max-width: 900px)
{
    .video-title
    {
        padding: 10rem 5rem;
        width: 60%;

        h1 
        {
            font-size: 3rem;
        }
        p 
        {
            font-size: 0.8rem;
        }
    }
}
@media screen and (max-width: 850px)
{
    .video-title
    {
        padding: 8rem 4rem;
        width: 60%;

        h1 
        {
            font-size: 3rem;
        }
        p 
        {
            font-size: 0.8rem;
        }
    }
}
@media screen and (max-width: 800px)
{
    .video-title
    {
        padding: 7.5rem 3rem;
        width: 60%;

        h1 
        {
            font-size: 3rem;
        }
        p 
        {
            font-size: 0.8rem;
        }
    }
}
@media screen and (max-width: 750px)
{
    .video-title
    {
        padding: 7.5rem 2.5rem;
        width: 70%;

        h1 
        {
            font-size: 3rem;
        }
        p 
        {
            font-size: 0.8rem;
        }
    }
}
@media screen and (max-width: 650px)
{
    .video-title
    {
        padding: 8rem 3rem;
        width: 100%;
        text-align: center;
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background: none;

        h1 
        {
            font-size: 3rem;
        }
        p 
        {
            font-size: 0.8rem;
            line-height: 20px;
        }
        button 
        {
            height: 2rem;
            width: 9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
        }
        .btn-container 
        {
            display: flex;
        }
    }
}
@media screen and (max-width: 450px)
{
    .video-title
    {
        padding: 8rem 1rem;
        width: 100%;
        text-align: center;
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background: none;

        h1 
        {
            font-size: 3rem;
        }
        p 
        {
            font-size: 0.8rem;
            line-height: 20px;
        }
        button 
        {
            height: 2rem;
            width: 9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
        }
        .btn-container 
        {
            display: flex;
        }
    }
}
