@import url(../Login/Login.scss);
@import url(../Header/Header.scss);

$NetflixSansLight: 'NetflixSansLight';
$NetflixSansMedium: 'NetflixSansMedium';
$NetflixSansBold: 'NetflixSansBold';
$transparent-black: rgba(0,0,0,0.85);
$transparent-black-1: rgba(0,0,0,0.9);
$blue: #19c37d;

.browse-header 
{
    background: linear-gradient(to bottom, #000000, transparent);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family:$NetflixSansLight;
    padding: 0 2rem;
    min-width: 350px;
    position:fixed;
    z-index: 99;
    transition: all 200ms ease-in-out;
}
a 
{
    color:gray;
    text-decoration: none;
}
.scrolled 
{
    background: none;
    background-color: $transparent-black-1 !important;
}
.browse-avatar
{
    height: 40px;
    width: 40px;
    border-radius: 2px;
}
.browse-header-left 
{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.browse-header-nav-ul 
{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    color: gray;
    font-family: $NetflixSansLight;

    .home-li 
    {
        color:white;
    }
    li 
    {
        cursor: pointer;
        &:hover 
        {
            color:white;
        }
    }
}
.browse-header-right 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .fa-magnifying-glass 
    {
        font-size: 1.3rem;
        cursor: pointer;
    }
    .avatar-div 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        cursor: pointer;
        position: relative;
    }
}
.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.li-div-1 
{
    display: flex;
    align-items: center;
    gap: 1rem;
}
@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.browse-sign-in 
{
    background-color: $transparent-black;
    position: absolute;
    top: 2.5rem;
    right: -1.5rem;
    width: 10rem;
    padding: 15px 5px;
    border-radius: 5px;
    text-align: center;

    p { 
        &:hover { text-decoration: underline; }
        &::after
        {
            content: "";
            background-color: $transparent-black;
            height: 0;
            width: 0;
            position: absolute;
            top: -10px;
            left: 50%;
        }
        width: 100%;
        border-top: 1px solid gray;
        margin-top: 1rem;
        text-align: center;
        padding:5px 10px;
    }
}
.home-li-arrow 
{
    display: none;
}
.gpt-search-btn
{
    border:3px solid $blue;
    font-family: $NetflixSansBold;
    color: $blue; 
    padding: 0.6rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover 
    {
        background-color: $blue;
        color:white;
        box-shadow: 0 0 2rem 0.2rem $blue;
        text-shadow: 0 0 2rem 0.2rem white;
    }
}
.gpt-btn-selected
{
    background-color: $blue;
    color:white;
    box-shadow: 0 0 2rem 0.2rem $blue;
    text-shadow: 0 0 2rem 0.2rem white;
}
@media screen and (max-width: 900px)
{
    .browse-header-nav-ul 
    {
        flex-direction: column;
        position: relative;
        
        .li-div-1
        {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 10rem;
            padding:20px 20px;
            border-radius: 8px;
            top: 1.5rem;
            left: -2rem;
            background-color: $transparent-black;
        }
    }
    .home-li 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .home-li-arrow 
    {
        display: block;
    }
}
@media screen and (max-width: 600px)
{
    .browse-header
    {
        padding:0;
        padding-top: 0.3rem;
        padding-right: 0.2rem;
        margin: 0;
    }
    .browse-header-left
    {
        gap: 0.1rem;
    }
    .browse-sign-in
    {
        top: 3rem;
        left: -6.5rem;
    }
    .browse-header-right
    {
        gap: 1rem;
        padding-right: 0.2rem;
    }
    .browse-avatar 
    {
        height: 40px;
        width: 40px;
    }
}