@import url(../Login/Login.scss);
@import url(../Header/Header.scss);

$NetflixSansLight: 'NetflixSansLight';
$NetflixSansMedium: 'NetflixSansMedium';
$NetflixSansBold: 'NetflixSansBold';
$transparent-black: rgba(0,0,0,0.85);
$transparent-black-1: rgba(0,0,0,0.9);


.secondary-container 
{
    margin-top: -2rem;
}