@font-face 
{
    font-family: 'NetflixSansMedium';
    src: url('../../fonts/NetflixSans/NetflixSans-Medium.otf');
}
@font-face 
{
    font-family: 'NetflixSansBold';
    src: url('../../fonts/NetflixSans/NetflixSans-Bold.otf');
}
@font-face 
{
    font-family: 'NetflixSansLight';
    src: url('../../fonts/NetflixSans/NetflixSans-Light.otf');;
}

$NetflixSansLight: 'NetflixSansLight';
$NetflixSansMedium: 'NetflixSansMedium';
$NetflixSansBold: 'NetflixSansBold';

$error-color: #e27a01;
$error-color-2: #e87c03;

.login 
{
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/c38a2d52-138e-48a3-ab68-36787ece46b3/eeb03fc9-99c6-438e-824d-32917ce55783/IN-en-20240101-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    min-width: 350px;
}
.login-form-div 
{
    height: 80vh;
    display: flex;
    align-items: center;
    z-index: 99;
    justify-content: center;
}
.login-form 
{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.85);
    color:white;
    padding: 2rem 3rem;
    gap: 0.5rem;
    width: 450px;
}
.login-form-overlay 
{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #000, transparent, #000);
}
.password-input 
{
    width: 100%;
    position: relative;

    span 
    {
        font-family: $NetflixSansLight;
        position: absolute;
        right: 10px;
        top:50%;
        transform: translate(0, -50%);
        cursor: pointer;
        color: gray;
        font-size: 0.9rem;
    }
    .password-int
    {
        padding-right: 60px;
    }
}
.login-form 
{
    color:white;
}
.login-form label 
{
    font-family: $NetflixSansMedium;
    font-size: 2rem;
    color:white;
    margin-bottom: 20px;
    width: 100%;
}
.login-form input 
{
    border:none;
    outline: none;
    padding:5px 10px;
    width: 100%;
    font-family: $NetflixSansLight;
    font-size: 0.9rem;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(51,51,51);
    color:white;
    margin: 5px 0;
}
.sign-in-btn 
{
    width: 100%;
    background-color: rgb(229,9,20);
    height: 50px;
    color: white;
    font-family: $NetflixSansMedium;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
.new-to-netflix 
{
    font-family: $NetflixSansLight;
    color: gray;
    margin: 10px 0;
}
.new-to-netflix span 
{
    color: white;
    cursor: pointer;
    padding:0 5px; 
    user-select: none;
}
.error-message 
{
    font-family: $NetflixSansLight;
    color: $error-color;
    margin-bottom: 8px;
    font-size: 0.9rem;
    margin-top: -7px;
}
.error-line
{
    border-bottom: 2px solid $error-color !important;
}
.error-login-msg
{
    background-color: $error-color-2;
    border-radius: 8px;
    font-family: $NetflixSansLight;
    font-size: 0.9rem;
    padding:0.8rem 1rem;
    margin: 0 auto;

    span 
    {
        text-decoration: underline;
    }
}

@media screen and (max-width:500px)
{
    .login 
    {
        background-color: #000000;
        background-image: none;
        padding: 0;
        margin: 0;
    }
    .login-form 
    {
        width: 100%;
        padding:10px 20px;
        margin-top: -100px;
    }
}