.video-background 
{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-background-iframe 
{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}